.events
{
	position: relative;
}
body
{
	background-image: url("../img/background.jpg");
}
@media (min-width: 768px)
{
	img {
		width: 500px;
		height: 500px;
 		clip-path: polygon(75% 7%,25% 7%,0% 50%,25%	93%,75%	93%,100% 50%);
 	 	border-style: solid;
 	 	border-width: 5px;
  		border-color: black;
	}


	.row1
	{
		display: inline-flex;
		margin-top: 5%;
		margin-left: 20%;
	}

	.row2
	{
		display: inline-flex;
		margin-left:3.1%;
	}
	.rocktaves
	{	
		margin-left: 0%;
	}

	.humor
	{
		margin-left: 0%;
	}

	.street
	{
		margin-left: 0%;
	}

	.pitch
	{
		margin-left: 70%;
		margin-top: -7%;	
	}

	.rap
	{
		margin-left: 0%;
		margin-top: -7%;
	}
}
@media only screen and (max-width: 768px)
{
	.events
	{
		margin-left: 25%;
	}
	img
	{
		width: 50%;
		height: 40%;
	}
  .events{
    display: block;
  }
}